<%- include("partials/header.ejs"); -%>
<div class="error-page row">
  <div class="col-lg-12 not-found  ">
    <h1 class="page-not-found">PAGE NOT FOUND!</h1>
    <h3>This one's not on the ballot. Let's go back home.</h3>
    <br>
    <br>
    <a href="/"><button class="error-btn btn btn-lg btn-danger" type="button" name="button">GO BACK HOME</button></a>
  </div>
</div>
<%- include("partials/footer.ejs"); -%>
