<%-include("partials/header.ejs"); -%>
<body>
  <div class="disclaimer">
    <h1 class="disclaimer-intro">Disclaimer</h1>
    <br>
    <p class="disclaimer-p">The purpose of this site is for educational purposes only, and was also a project to practice web development. I am a human with my own political beliefs, but had no intention to promote, encourage, or help one candidate over another from this site. As things change, information may be out of date on this site, but will be updated up to election day.</p>
    <br>
  </div>

<%- include("partials/footer.ejs"); -%>
