<%-include("partials/header.ejs"); -%>
  <body>
    <div class="home-intro">
      <h1 class="intro">Helpful Links</h1>
    </div>

      <br>
      <div class="link-info">
        <div class="links-text row">
      <div class="col-lg-6 link-col">
      <a class="links" href="https://wrm.capitol.texas.gov/home"><h4 class="links"><i class="fas fa-search"></i>Confirm your Texas Reps</h4></a>
      </div>
      <div class="col-lg-6 link-col">
      <a class="links" href="https://www.vote.org/register-to-vote/texas/"><h4 class="links"><i class="far fa-check-square"></i>Voter Registration</h4></a>
      </div>
      <div class="col-lg-6 link-col">
      <a class="links" href="https://www.sos.state.tx.us/elections/voter/links.shtml#County"><h4 class="links"><i class="fas fa-external-link-square-alt"></i>County Websites</h4></a>
      </div>
      <div class="col-lg-6 link-col">
      <a class="links" href="https://www.sos.state.tx.us/elections/voter/reqabbm.shtml"><h4 class="links"><i class="fas fa-envelope-open-text"></i>Ballot by Mail</h4> </a>
      </div>
      <div class="col-lg-6 link-col">
      <a class="links" href="https://www.sos.state.tx.us/elections/voter/county.shtml"> <h4 class="links"><i class="fas fa-user-check"></i>County Election Officials</h4></a>
      </div>
      <div class="col-lg-6 link-col">
      <a class="links" href="https://www.votetexas.gov/"> <h4 class="links"><i class="far fa-address-card"></i>Vote Texas.gov</h4></a>
      </div>
    </div>
  </div>

  <div class="pie-blue">

  </div>

  <div class="pie-red">

  </div>

<%- include("partials/footer.ejs"); -%>
